doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='style.css')
    title Login
  body
    header
      h1 Expense Tracker
    #mainContainer
      h2 Login
      form#login
        table
          tbody
            tr
              td
                label(for='email') Email Address:
              td
                input#email(type='email' name='email' required='')
            tr
              td
                label(for='password') Password:
              td
                input#password(type='password' name='password' required='')
        button.btn(type='submit') Login
        hr
        a#forgotPassword Forgot Password?
        br
        br
        a(href='./signup.jade') New User? Sign Up Here
   
    #container
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
    script(src="login.js") 
      