doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='style.css')
    title Sign Up
  body
    header
      h1 Expense Tracker
    #mainContainer
      h2 Sign Up
      form#register
        table
          tbody
            tr
              td
                label(for='name') Name:
              td
                input#name(type='text' name='name' required='')
            tr
              td
                label(for='email') Email Address:
              td
                input#email(type='email' name='email' required='')
            tr
              td
                label(for='password') Password:
              td
                input#password(type='password' name='password' required='')
            tr
              td
                label(for='phone') Contact No:
              td
                input#phone(type='tel' name='phone' required='')
        button.btn(type='submit') SignUp
        hr
        a(href='./login.html') Already a user? Login Here
    // Toggle notification
    #container
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
    script(src='signup.js')
      